:root {
 --ham3: #E59500;
}

.ham3-wrapper {
  background: var(--ham3);
  padding: 50px;
}
.hamburger3-box {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
  cursor: pointer;
}
.ham3 {
  position: absolute;
  width: 100%;
  height: 15%;
  background: white; 
  left: 0%;
  top: 42.5%;
}
/* before clicked */
.ham3 {
  transition: all 1s;
}
.hamburger3-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background: white; 
  left: 0%;
  top: 10%;
  transition: transform .5s, top .5s .5s;
}
.hamburger3-box::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background: white; 
  left: 0%;
  bottom: 10%;
  transition: transform .5s, bottom .5s .5s;
}

/* after clicked */
.hamburger3-box-clicked::before {
  transform-origin: center;
  top: 42.5%;
  transform: rotate(45deg);
  transition: top .5s, transform .5s .5s;
}

.hamburger3-box-clicked::after {
  transform-origin: center;
  bottom: 42.5%;
  transform: rotate(-45deg);
  transition: bottom .5s, transform .5s .5s;
}
.hamburger3-box-clicked > span {
  background: transparent;
}

